.aboutme {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background-color: #591e2e;
  padding: 10px;
  letter-spacing: 2px;
  border-top: 1px solid $color;

  &__article {
    color: $color;
    padding: 15px;
    line-height: 18px;
    border-top: 1px solid $color;
  }
  &__skills {
    margin: auto;
    &__list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      padding-top: 20px;
      padding: 15px;

      &__item {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        width: 90px;
        height: 40px;
      }
    }
  }
}

.title3 {
  color: $color;
  padding-bottom: 5px;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}
.text {
  font-size: 14px;
  padding-top: 5px;
}

.icon {
  font-size: 30px;
  color: $color;
}
