.aboutme {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background-color: $color-secundary;
  letter-spacing: 2px;
  border-top: 1px solid $color;

  &__article {
    color: $color;
    padding: 20px;
    line-height: 18px;
    border-top: 1px solid $color;
    margin-bottom: 10px;
    @include tablet {
      padding: 24px;
      line-height: 20px;
    }
    @include desktop {
      padding: 28px;
    }
  }
  &__skills {
    padding: 15px;
    margin: auto;
    @include tablet {
      padding: 20px;
    }
    @include desktop {
      padding: 25px;
    }
    &__list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      padding-top: 20px;
      padding: 15px;

      @include tablet {
        grid-column-gap: 30px;
        grid-row-gap: 30px;
        padding: 20px;
      }
      @include desktop {
        grid-column-gap: 80px;
        grid-row-gap: 80px;
        padding: 25px;
      }

      &__item {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        width: 90px;
        height: 40px;
      }
    }
  }
}

.title3 {
  font-family: "Noto Sans Mono", monospace;
  color: $color-tercery;
  padding-bottom: 5px;
  font-size: 22px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  @include tablet {
    font-size: 28px;
  }

  @include desktop {
    font-size: 34px;
  }
}
.text {
  color: $color;
  font-size: 16px;
  padding-top: 10px;
  font-family: "Roboto Condensed", sans-serif;
  @include tablet {
    font-size: 20px;
    padding-top: 20px;
  }
  @include desktop {
    font-size: 24px;
    padding-top: 24px;
  }
}

.icon {
  font-size: 30px;
  color: $color;
  @include tablet {
    font-size: 34px;
  }
  @include desktop {
    font-size: 50px;
  }
}
