.cover {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 15px;
  background-color: $color-primary;
  @include tablet {
    flex-direction: row;
  }
  @include desktop {
  }
  &__text {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    text-align: center;
    &__title1 {
      color: $color;
      font-size: 30px;
      font-weight: bold;
      letter-spacing: 2px;
      @include tablet {
        font-size: 36px;
      }
      @include desktop {
      }
    }
    &__title2 {
      color: $color;
      font-size: 24px;
      padding-bottom: 10px;
      letter-spacing: 2px;
    }
    @include tablet {
      font-size: 28px;
    }
  }
  &__img {
    border: 2px solid $color-tercery;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-top: 12px;
    @include tablet {
      margin-top: 50px;
      width: 200px;
      height: 200px;
    }
    @include desktop {
    }
  }
}
