.cover {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: $color-primary;
  padding-bottom: 10px;
  &__text {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    text-align: center;
    &__title1 {
      color: $color;
      font-size: 20px;
      font-weight: bold;
      letter-spacing: 2px;
    }
    &__title {
      color: $color;
      font-size: 14px;
      padding-bottom: 10px;
      letter-spacing: 2px;
    }
  }
  &__img {
    margin-top: 50px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
  }
}
