.cover {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 15px;
  background-color: $color-primary;
  @include tablet {
    flex-direction: row;
    padding-top: 20px;
    height: 100vh;
  }
  @include desktop {
  }
  &__text {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    text-align: center;
    animation: moveLeft 1s ease;

    @include tablet {
      font-size: 32px;
      padding-bottom: 10px;
    }
    &__title1 {
      color: $color;
      font-size: 30px;
      font-weight: bold;
      letter-spacing: 2px;

      @include tablet {
        font-size: 34px;
        padding-bottom: 10px;
      }
      @include desktop {
        font-size: 38px;
      }
    }
    &__title2 {
      color: $color;
      font-size: 24px;
      padding-bottom: 10px;
      letter-spacing: 2px;
    }
    @include tablet {
      font-size: 28px;
    }
    @include desktop {
      font-size: 38px;
    }
  }
  &__img {
    border: 2px solid $color-tercery;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-top: 12px;
    animation: moveLeft 1s ease;
    @keyframes moveLeft {
      from {
        transform: translate(-300px, 0);
        opacity: 0;
      }
      to {
        transform: translate(0);
        opacity: 100%;
      }
    }
    @include tablet {
      margin-top: 50px;
      width: 200px;
      height: 200px;
    }
    @include desktop {
    }
  }
}
@keyframes moveLeft {
  from {
    transform: translate(-300px, 0);
    opacity: 0;
  }
  to {
    transform: translate(0);
    opacity: 100%;
  }
}
