.footer {
  border-top: 1px solid $color;
  background-color: $color-primary;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
  text-align: center;
  &__tittle3 {
    color: $color;
    padding-bottom: 30px;
    font-size: 16px;
    @include tablet {
      font-size: 18px;
    }
  }
  &__item {
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 10px;
    justify-content: center;
    &__link {
      color: $color;
      padding: 10px;
    }
  }
  &__copy {
    margin: 20px;
    color: $color;
    text-align: right;
  }
}
