.footer {
  border-top: 1px solid $color;
  background-color: $color-primary;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
  text-align: center;
  &__tittle3 {
    color: $color;
    margin: 10px;
    font-size: 16px;
    animation: moveLeft 1s;

    @include tablet {
      font-size: 18px;
    }
  }
  &__item {
    display: flex;
    flex-direction: row;
    text-align: center;
    animation: moveLeft 1s;
    justify-content: center;
    &__link {
      color: $color;
      padding: 10px;
      &:hover {
        text-shadow: grey 0.1em 0.1em 0.2em;
        transform: scale(1.2);
      }
    }
  }
  &__copy {
    color: $color;
    text-align: right;
    font-size: 8px;
  }
}
