.linkContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-right: 10px;
  margin-top: 5px;
  @include tablet {
    margin-top: 30px;
  }
  &__text {
    color: $color;
    font-size: 12px;
    margin: 5px;
    @include tablet {
      font-size: 16px;
      margin: 30px;
    }
    @include desktop {
      font-size: 22px;
    }
  }
  &__link {
    &:hover {
      text-shadow: grey 0.1em 0.1em 0.2em;
      transform: scale(1.2);
    }
  }
}
.fab {
  color: $color;
  font-size: 20px;
  @include tablet {
    font-size: 20px;
  }
  @include desktop {
    font-size: 28px;
  }
}
.far {
  color: $color;
  font-size: 20px;
  @include tablet {
    font-size: 20px;
  }
  @include desktop {
    font-size: 28px;
  }
}
