.linkContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-right: 10px;
  margin-top: 5px;
}
.fab {
  color: $color;
  font-size: 16px;
  @include tablet {
    font-size: 22px;
  }
}
.far {
  color: $color;
  font-size: 16px;
  @include tablet {
    font-size: 22px;
  }
}
