.nav {
  background-color: $color-tercery;
  padding-top: 8px;
  padding-bottom: 8px;
  position: fixed;
  width: 100%;
  @include tablet {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  &__list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 5px;

    &__item {
      letter-spacing: 3px;
      font-size: 12px;

      @include tablet {
        font-size: 16px;
      }
      @include desktop {
        font-size: 20px;
      }

      &__link {
        text-transform: uppercase;
        font-weight: bold;
        color: $color;
        &:hover {
          text-shadow: $color-primary 0.1em 0.1em 0.2em;
        }
      }
    }
  }
}
.btn {
  background-color: $color;
  border: 1px solid $color-primary;
  border-radius: 50%;
  color: $color-primary;
  margin: 3px;
  padding: 2px;
  font-weight: bold;
  font-size: 10px;
  &:hover {
    cursor: pointer;
  }
  &:focus {
    background-color: $color-primary;
    border: 1px solid $color;
    border-radius: 50%;
    color: $color;
  }

  @include tablet {
    font-size: 16px;
  }
  @include desktop {
    font-size: 20px;
    padding: 4px;
  }
}
