.nav {
  background-color: $color-tercery;
  padding-top: 8px;
  padding-bottom: 8px;
  position: fixed;
  width: 100%;

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-around;

    &__item {
      letter-spacing: 3px;
      font-size: 12px;

      &__link {
        text-transform: uppercase;
        font-weight: bold;
        color: $color-secundary;
      }
    }
  }
}
.btn {
  background-color: $color;
  border: 1px solid $color-secundary;
  border-radius: 50%;
  color: $color-primary;
  margin: 3px;
  padding: 2px;
  font-weight: bold;
  font-size: 10px;
}
