.projects {
  border-top: 1px solid $color;
  padding: 15px;
  background-color: $color-secundary;
  justify-content: center;
  color: $color;
  text-align: center;
  @include tablet {
    padding: 20px;
  }
  @include desktop {
    padding: 25px;
  }
  &__card {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 15px;
    @include tablet {
      margin: 30px;
    }
    @include desktop {
      margin: 50px;
    }
    &__infor {
      display: flex;
      flex-direction: column;
      text-align: center;

      @include tablet {
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
      }
      &__img {
        width: 50%;
        height: 75%;
        margin: auto;
        border: 2px solid $color-tercery;
        border-radius: 15%;
        &:hover {
          border: 6px solid $color-tercery;
        }

        @include tablet {
          width: auto;
          height: 160px;
        }

        @include desktop {
          width: auto;
          height: 200px;
        }
      }
      &__text {
        padding: 10px;

        @include tablet {
          text-align: center;
          width: 50%;
        }
        &__tools {
          font-family: "Noto Sans Mono", monospace;
          font-size: 14px;
          padding: 10px;
          padding-top: 20px;
          @include tablet {
            font-size: 18px;
          }
          @include desktop {
            font-size: 22px;
          }
        }
        &__link {
          color: $color-tercery;
          font-size: 16px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          &:hover {
            transform: scale(1.2);
          }
          @include tablet {
            font-size: 20px;
          }
          @include desktop {
            font-size: 24px;
          }
          &__iconlink {
            font-size: 30px;
            margin: 10px 15px 10px 16px;
            &:hover {
              transform: scale(1.2);
            }
            @include tablet {
              font-size: 30px;
              padding: 10px;
            }
            @include desktop {
              padding: 12px;
              font-size: 30px;
            }
          }
          &__urlText {
            color: $color-tercery;
            font-size: 14px;
            font-family: "Roboto Condensed", sans-serif;
            @include tablet {
              font-size: 18px;
            }
            @include desktop {
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}

.title4 {
  color: $color-tercery;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
  font-weight: bold;
  @include tablet {
    font-size: 22px;
  }
  @include desktop {
    font-size: 26px;
  }
}
.others_proyects {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px;
  color: $color;
}
.text2 {
  color: $color;
  &:hover {
    text-shadow: grey 0.1em 0.1em 0.2em;
    transform: scale(1.2);
  }
}

.text_others {
  font-size: 14px;
  padding: 16px;

  @include tablet {
    font-size: 20px;
  }
  @include desktop {
    font-size: 24px;
  }
}
.iconlink2 {
  color: $color;
  font-size: 20px;
  padding: 5px;

  @include tablet {
    font-size: 20px;
    padding: 10px;
  }
  @include desktop {
    font-size: 24px;
    padding: 12px;
  }
}
