.projects {
  border-top: 1px solid $color;
  padding: 15px;
  background-color: $color-secundary;
  justify-content: center;
  color: $color;
  text-align: center;
  @include tablet {
  }
  &__card {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 15px;
    @include tablet {
      margin: 30px;
    }
    &__infor {
      display: flex;
      flex-direction: column;
      text-align: center;

      @include tablet {
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
      }
      &__img {
        width: 50%;
        height: 75%;
        margin: auto;
        border: 2px solid $color;
        border-radius: 15%;
        &:hover {
          border: 6px solid $color;
        }

        @include tablet {
          width: auto;
          height: 160px;
        }
      }
      &__text {
        padding: 10px;

        @include tablet {
          text-align: center;
          width: 50%;
        }
      }
    }
  }
}

.iconlink {
  color: $color;
  font-size: 16px;
  padding: 5px;
  &:hover {
    transform: scale(1.2);
  }
  @include tablet {
    font-size: 20px;
  }
}
.title4 {
  color: $color-tercery;

  font-size: 18px;
  font-weight: bold;
  @include tablet {
    font-size: 20px;
  }
}
.others_proyects {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px;
  color: $color;
}
.text2 {
  color: $color;
  &:hover {
    text-shadow: grey 0.1em 0.1em 0.2em;
    transform: scale(1.2);
  }
}
.tools {
  font-size: 14px;
}
.text_others {
  font-size: 14px;
  padding: 10px;
  @include tablet {
    font-size: 16px;
  }
}
.iconlink2 {
  color: $color;
  font-size: 16px;
  padding: 5px;

  @include tablet {
    font-size: 20px;
  }
}
