$font-main: "Roboto Slab", sans-serif;
$font-main-secundary: "Roboto";

$color: rgb(255, 255, 255);
$color-primary: rgb(82, 160, 163);

$color-secundary: #591e2e;

$color-tercery: rgb(235, 151, 50);
